html{ font-family: sans-serif; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
 footer, header, main, nav, section{ display: block; }
a{ background-color: transparent; }
 strong{ font-weight: bold; }
h1{ font-size: 2em; margin-top: 0.67em; margin-right: 0px; margin-bottom: 0.67em; margin-left: 0px; }
button{ color: inherit; font: inherit; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
button{ overflow-x: visible; overflow-y: visible; }
button{ text-transform: none; }
button{ -webkit-appearance: button; cursor: pointer; }
@media print{
*{ text-shadow: none !important; box-shadow: none !important; }
a{ text-decoration: underline; }
 blockquote{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(153, 153, 153); border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153); page-break-inside: avoid; }
p, h2, h3{ orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }
.navbar{ display: none; }
}
html{ box-sizing: border-box; }
*{ box-sizing: inherit; }
html{ font-size: 16px; }
body{ font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(101, 101, 101); background-color: rgb(255, 255, 255); }
h1, h2, h3, h4{ margin-top: 0px; margin-bottom: 0.5rem; }
p{ margin-top: 0px; margin-bottom: 1rem; }
 ul{ margin-top: 0px; margin-bottom: 1rem; }
 ul ul{ margin-bottom: 0px; }
blockquote{ margin-top: 0px; margin-right: 0px; margin-bottom: 1rem; margin-left: 0px; }
a{ color: rgb(215, 77, 77); text-decoration: none; }
 button{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: inherit; }
h1, h2, h3, h4{ font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3{ margin-bottom: 0.5rem; }
h4{ margin-bottom: 0.5rem; }
h1{ font-size: 2.5rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.75rem; }
h4{ font-size: 1.5rem; }
.container, section{ margin-right: auto; margin-left: auto; padding-left: 0.9375rem; padding-right: 0.9375rem; }
.container::before, section::before, .container::after, section::after{ content: ' '; display: table; }
.container::after, section::after{ clear: both; }
@media (min-width: 34em){
.container, section{ max-width: 34rem; }
}
@media (min-width: 48em){
.container, section{ max-width: 45rem; }
}
@media (min-width: 62em){
.container, section{ max-width: 60rem; }
}
@media (min-width: 75em){
.container, section{ max-width: 72.25rem; }
}
.btn{ display: inline-block; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; padding-top: 0.375rem; padding-right: 1rem; padding-bottom: 0.375rem; padding-left: 1rem; font-size: 1rem; line-height: 1.5; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.btn-primary-outline{ color: rgb(215, 77, 77); background-image: none; background-color: transparent; border-top-color: rgb(215, 77, 77); border-right-color: rgb(215, 77, 77); border-bottom-color: rgb(215, 77, 77); border-left-color: rgb(215, 77, 77); }
.btn-secondary-outline{ color: rgb(204, 204, 204); background-image: none; background-color: transparent; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); }
.btn-success-outline{ color: rgb(92, 184, 92); background-image: none; background-color: transparent; border-top-color: rgb(92, 184, 92); border-right-color: rgb(92, 184, 92); border-bottom-color: rgb(92, 184, 92); border-left-color: rgb(92, 184, 92); }
.btn-warning-outline{ color: rgb(240, 173, 78); background-image: none; background-color: transparent; border-top-color: rgb(240, 173, 78); border-right-color: rgb(240, 173, 78); border-bottom-color: rgb(240, 173, 78); border-left-color: rgb(240, 173, 78); }
.btn-danger-outline{ color: rgb(217, 83, 79); background-image: none; background-color: transparent; border-top-color: rgb(217, 83, 79); border-right-color: rgb(217, 83, 79); border-bottom-color: rgb(217, 83, 79); border-left-color: rgb(217, 83, 79); }
.collapse{ display: none; }
 .dropdown{ position: relative; }
.dropdown-toggle::after{ display: inline-block; width: 0px; height: 0px; margin-left: 0.25rem; vertical-align: middle; content: ''; border-top-width: 0.3em; border-top-style: solid; border-top-color: initial; border-right-width: 0.3em; border-right-style: solid; border-right-color: transparent; border-left-width: 0.3em; border-left-style: solid; border-left-color: transparent; }
.dropdown-menu{ position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-top: 2px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 1rem; text-align: left; list-style-type: none; list-style-position: initial; list-style-image: initial; background-color: rgb(255, 255, 255); background-clip: padding-box; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(0, 0, 0, 0.148438); border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); border-left-color: rgba(0, 0, 0, 0.148438); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.dropdown-item{ display: block; padding-top: 3px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px; clear: both; font-weight: normal; line-height: 1.5; color: rgb(101, 101, 101); white-space: nowrap; text-align: inherit; width: 100%; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; background-position: initial initial; background-repeat: initial initial; }
.dropdown-menu-left{ right: auto; left: 0px; }
.nav{ padding-left: 0px; margin-bottom: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
.nav-link{ display: inline-block; }
.navbar{ position: relative; padding-top: 0.5rem; padding-right: 1rem; padding-bottom: 0.5rem; padding-left: 1rem; }
.navbar::before, .navbar::after{ content: ' '; display: table; }
.navbar::after{ clear: both; }
@media (min-width: 34em){
.navbar{ border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
}
.navbar-brand{ float: left; margin-right: 1rem; padding-top: 0.25rem; padding-bottom: 0.25rem; font-size: 1.25rem; }
.navbar-toggler{ padding-top: 0.5rem; padding-right: 0.75rem; padding-bottom: 0.5rem; padding-left: 0.75rem; font-size: 1.25rem; line-height: 1; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 48em){
.navbar-toggleable-sm{ display: block !important; }
}
.navbar-nav .nav-item{ float: left; }
.navbar-nav .nav-link{ display: block; padding-top: 0.425rem; padding-bottom: 0.425rem; }
.navbar-nav .nav-item + .nav-item{ margin-left: 1rem; }
.alert{ padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; margin-bottom: 1rem; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.alert-success{ background-color: rgb(223, 240, 216); border-top-color: rgb(208, 233, 198); border-right-color: rgb(208, 233, 198); border-bottom-color: rgb(208, 233, 198); border-left-color: rgb(208, 233, 198); color: rgb(60, 118, 61); }
.alert-info{ background-color: rgb(217, 237, 247); border-top-color: rgb(188, 223, 241); border-right-color: rgb(188, 223, 241); border-bottom-color: rgb(188, 223, 241); border-left-color: rgb(188, 223, 241); color: rgb(49, 112, 143); }
.alert-warning{ background-color: rgb(252, 248, 227); border-top-color: rgb(250, 242, 204); border-right-color: rgb(250, 242, 204); border-bottom-color: rgb(250, 242, 204); border-left-color: rgb(250, 242, 204); color: rgb(138, 109, 59); }
.alert-danger{ background-color: rgb(242, 222, 222); border-top-color: rgb(235, 204, 204); border-right-color: rgb(235, 204, 204); border-bottom-color: rgb(235, 204, 204); border-left-color: rgb(235, 204, 204); color: rgb(169, 68, 66); }
.sr-only{ position: absolute; width: 1px; height: 1px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: -1px; margin-right: -1px; margin-bottom: -1px; margin-left: -1px; overflow-x: hidden; overflow-y: hidden; clip: rect(0px 0px 0px 0px); border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
@media (min-width: 48em){
.hidden-md-up{ display: none !important; }
}
.fa{ display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.fa-flask::before{ content: ïƒƒ; }
header{ color: rgb(215, 77, 77); }
header .skip-nav ul{ margin-right: auto; margin-left: auto; padding-left: 0.9375rem; padding-right: 0.9375rem; list-style-type: none; list-style-position: initial; list-style-image: initial; margin-bottom: 0px; }
header .skip-nav ul::before, header .skip-nav ul::after{ content: ' '; display: table; }
header .skip-nav ul::after{ clear: both; }
header .skip-nav ul > li{ float: left; padding-right: 15px; }
header .skip-nav ul > li > a{ color: rgb(255, 255, 255); font-size: 11px; display: none; }
header .navbar{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(34, 34, 34); background-position: initial initial; background-repeat: initial initial; }
@media (max-width: 47.9em){
header .navbar .container{ margin-right: auto; margin-left: auto; padding-left: 0px; padding-right: 0px; }
header .navbar .container::before, header .navbar .container::after{ content: ' '; display: table; }
header .navbar .container::after{ clear: both; }
}
header .navbar .navbar-toggler{ padding-top: 0px; padding-right: 0.9375rem; padding-bottom: 0px; padding-left: 0.9375rem; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: 3.125rem; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; z-index: 2; position: relative; color: rgb(255, 255, 255); }
header .navbar .navbar-brand{ padding-top: 0.625rem; position: absolute; width: 100%; left: 0px; text-align: center; }
@media (min-width: 47.9em){
header .navbar .navbar-brand{ position: inherit; width: 10rem; text-align: left; }
}
header .navbar .navbar-nav{ float: right; }
header .navbar .navbar-nav::before, header .navbar .navbar-nav::after{ content: ' '; display: table; }
header .navbar .navbar-nav::after{ clear: both; }
header .navbar .navbar-nav > li{ position: relative; display: block; margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; }
header .navbar .navbar-nav > li > a{ color: rgb(255, 255, 255); padding-top: 0.9375rem; padding-right: 0.9375rem; padding-bottom: 0.9375rem; padding-left: 0.9375rem; }
@media (max-width: 61.9em) and (min-width: 47.9em){
header .navbar .navbar-nav > li > a{ padding-top: 15px; padding-right: 8px; padding-bottom: 15px; padding-left: 8px; font-size: 12px; }
}
@media (max-width: 47.9em){
header .navbar{ border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; }
 header .navbar .collapse ul li a{ color: rgb(51, 51, 51); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(101, 101, 101); padding-top: 0.625rem; padding-bottom: 0.625rem; background-position: initial initial; background-repeat: initial initial; }
header .navbar .collapse ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; float: none; position: relative; }
header .navbar .collapse ul li{ float: none; }
header .navbar .collapse ul li a{ font-weight: 700; }
header .navbar .collapse ul li a::after{ float: right; margin-top: 0.625rem; }
}
a{ -webkit-transition-property: color; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; }
section{ padding-top: 3.125rem; }